<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{meta_title}}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="https://marcusskye.com{{asset 'css/style.css'}}" rel="stylesheet" />
  <link href="https://marcusskye.com{{asset 'css/colors-dark.css'}}" rel="stylesheet" />

<link rel="shortcut icon" href="https://marcusskye.com{{asset "/images/octopus-header.png"}}">

  {{ghost_head}}

</head>

<!-- Theme Colors
#152934; #1f313b; #2aa198; #cb4b16; #839496; -->

<body class="{{body_class}} page-top-border">


  <header id="header">
      <h1>
      <a target="_blank" href="https://duckduckgo.com/?q=engraving+of+octopus&t=ffab&iar=images&iax=1&ia=images">
      <img id="header-image" src="https://marcusskye.com{{asset 'images/octopus-header.png'}}" />
      </a>
      <a href="http://marcusskye.com/">@MARCUSSKYE | BLOG</a>
      </h1>
  </header>

  <div id="page">

    <div id="sidebar" >

      <nav>
        <ul>
          <li><a href="{{@blog.url}}">Home</a></li>
          <li><a href="http://github.com/hebrides">GitHub</a></li>
          <li><a href="{{@blog.url}}/rss/">RSS Feed</a></li>
          <li><a href="{{@blog.url}}/draw">Art & Such</a></li>
          <li><a href="{{@blog.url}}/about">About Marcus</a></li>
	  <li><a href="{{@blog.url}}/services/">For Hire</a></li> 
        </ul>
      </nav>

    <style>
     .quick-posts {
	padding-top: 10px;
	font-size: 0.85em;
	border-top: 1px solid #073642;
       }
    
    </style>
 

    </div><!-- end sidebar -->


    <div id="content">

<!-- This is where default.hbs or post.hbs content gets inserted -->

      {{{body}}}

    </div>







  </div><!-- end page -->





  <footer id="footer">  
    <p class="copyright">Copyright &copy; {{date format="YYYY"}} <a href="http://www.marcusskye.com">⛵ MARCUS THOMAS (SKYE) LEWIS.</a> 
    Powered by <a href="http://ghost.org">Ghost</a>, Theme modified from Solar by 
    <a href="http://www.webmaster-source.com/2013/10/17/solar-theme-for-ghost-blogs/">Matt Harzewski</a></p>
  </footer>




  {{ghost_foot}}

  <script src="https://marcusskye.com{{asset 'js/jquery.mobilemenu.min.js'}}"></script>
  <script src="https://marcusskye.com{{asset 'js/prism.js'}}"></script>
  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    
    });    
  </script>



</body>
</html>
